.hello{

        width: 100px;
        height: 100px;
        font-size: larger;
        font-style: normal;
        font-variant: normal;
        font-weight: bolder;
        color:green ;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 2s;
      }
      
      @keyframes example {
        0%   {color:red; left:0px; top:0px;}
        25%  {color:rgb(133, 255, 133); left:200px; top:0px;}
        100%   {color:black; left:0px; top:0px;}
        
      
}
body{
    background-color: azure;
}

p.p{
    color:black;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p.speed{
    color: greenyellow;
}