h1{
    color: #0EB0F3;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: azure;
}

p.p{
    color:black;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
p.speed{
    color: greenyellow;
}